*{
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-bottom: 40px;
}


.contact-title{
  color: white;
  font-size: 55px;
  font-weight: 400;
}
.main-container{
  margin: 30px auto ;
  max-width:630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{

  background-color: #393737;
  padding: 20px;
  border-radius: 0px;
  width: 100%;
  box-shadow:  10 10 10px #948d8d;
  margin: 30px;

}
form div{
 margin: 20px 0;
 width: 100%;
}
input{
  
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
 
  border-radius: 0px;
  box-shadow: 0 0 0px #c9c9c9;
  
}

label{
 display: block;
 font-size: 18px;
 font-weight:200;
 margin-bottom: 10px;
 color: #ffffff;
  max-width: 600px;
  display: block;
  margin-top: 20px;
}
button{
  background: rgb(17, 39, 50);;
  border: none;
  width: 250px;
  padding: 20px;
  color: white;
  cursor: pointer;
  margin-top: 10px;

}
.form-error{
  display: none;
  color: red;
  font-size: 16px;
  margin-top:2px;
}
#successMessage{
  display: none;
  color: green;
}
.contact-container{
  color:white;
  margin: 30px auto ;
  max-width:400px;
  display: flex;
  flex-direction: column;
  
}
.contact-details{
  text-align:start;
  margin: 20px;
}
.contact-details > div {
  font-weight: 700;
  margin-top: 15px;
}
