*{
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding-bottom: 40px;
}

:root{
--font-color:white;
--mobile-menu-font-size:16px;
--mobile-version-font-weight:200;
--button-tex-color:black;
--border-radius:8px 8px 8px 8px;
--display-flex: flex column;
--text-align: center;
--btn-brd-radius:5px 5px 5px 5px;
--transition-duration:0.3s;
--background-color-for-submenu:rgba(0, 0, 0, 01);
--padding-left-submenu:20px;
--padding-top-submenu:20px;
}

/*Header-style-start*/
header{
  margin-top: 10px;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/intense.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
}
.fa-solid{
  display: none;
}
label{
  display: none;
}
.search{
  height: 25px;
  display: block;
  max-width: 70px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
  margin: auto;
}
.header-text{
  color: var(--font-color);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  line-height: 0.1;
}
.header-text h1{
  font-weight: 700;
  font-size: 40px;
  
  
}

.header-text p{
  font-weight: var(--mobile-version-font-weight);
  font-size: 20px;
  ;
}

.hero-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: auto;
  background-color:  rgb(255, 0, 0);
  max-width: 160px;
  max-height: 40px;
  border-radius: var(--btn-brd-radius);
  transition-duration: var(--transition-duration);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.hero-btn:hover{
  background-color: #333;
}
  
.hero-btn a{
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
  
}

/*main start here*/
.container{
  margin-top: 40px;
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-weight: var(--mobile-version-font-weight);
}
.movie-container{
  
  display: var(--display-flex);
  text-align:var(--text-align);
  margin: 10px;
}
.movie-container img {
  max-width: 190px;
  height: 259px;
  border-radius: var(--border-radius);
}
.movie-container img:hover{
  background: var(--background-color-for-submenu);
  border: 1px solid white;
  
}

/*slider*/
.slider {
  max-width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*footer-style*/
.menu-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
  margin: 0px 20px 20px 0px;
  
}
.menu-footer a img{
  width: 40px;
  height: 40px;
}

/*media-screen-start-here*/
@media screen and (min-width: 800px) {
  
  
  header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/intense.jpeg");
    background-position: center;
    max-width: 1920px;
    margin: auto;
  }
  .search{
    height: 25px;
    display: block;
    display: block;
    max-width: 200px;
  }
  label{
    display: none;
  }
 .search{
  display: block;
 }
  .container{
    max-width: 920px;
    margin: auto;
    margin-top: 40px;
  }
  .menu-footer{
    display: none;
  }
  .logo-white{
    display: block;
  }
  
  
  .slider {
    
    max-width: 1920px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    }
   
}
  